@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import "tailwindcss";

@theme inline {
  --color-primary: #c0c1ff;
  --color-primary-container: #8083ff;
  --color-on-primary: #1000a9;
  
  --color-secondary: #ddb7ff;
  --color-secondary-container: #6f00be;
  --color-on-secondary: #490080;
  --color-on-secondary-container: #d6a9ff;

  --color-tertiary: #45dfa4;
  --color-tertiary-container: #00a574;
  
  --color-surface: #131315;
  --color-surface-container: #201f22;
  --color-surface-container-high: #2a2a2c;
  --color-surface-container-highest: #353437;
  --color-surface-container-low: #1c1b1d;
  --color-surface-container-lowest: #0e0e10;
  --color-surface-variant: #353437;

  --color-on-surface: #e5e1e4;
  --color-on-surface-variant: #c7c4d7;
  --color-outline: #908fa0;
  --color-outline-variant: #464554;
  --color-bg-dark: #09090b;

  --font-display: 'Geist', sans-serif;
  --font-headline-md: 'Geist', sans-serif;
  --font-label-caps: 'JetBrains Mono', monospace;
  --font-headline-lg: 'Geist', sans-serif;
  --font-body-sm: 'Geist', sans-serif;
  --font-code: 'JetBrains Mono', monospace;
  --font-body-lg: 'Geist', sans-serif;
}

:root {
  color-scheme: dark;
  background-color: #09090b;
  color: #e5e1e4;
}

body {
  font-family: var(--font-display);
  background-color: #09090b;
}

.glass-tile {
  background: rgba(24, 24, 27, 0.7);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(144, 143, 160, 0.1);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.active-glow {
  border: 1px solid transparent;
  background-image: linear-gradient(rgba(24, 24, 27, 0.7), rgba(24, 24, 27, 0.7)), linear-gradient(to bottom right, rgba(99, 102, 241, 0.2), rgba(168, 85, 247, 0.2));
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.mesh-gradient-1 {
  background-color: hsla(240,10%,3%,1);
  background-image: 
      radial-gradient(at 0% 0%, hsla(253,16%,7%,1) 0, transparent 50%), 
      radial-gradient(at 50% 0%, hsla(225,39%,30%,0.1) 0, transparent 50%), 
      radial-gradient(at 100% 0%, hsla(339,49%,30%,0.1) 0, transparent 50%);
}

.heatmap-cell {
  aspect-ratio: 1/1;
  border-radius: 2px;
}

.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }
